<ion-header>
  <ion-navbar>
    <ion-title>
      EMV QR Code Validation
    </ion-title>
  </ion-navbar>
</ion-header>




<ion-content>

  <ion-title padding *ngIf="QRroot">
    EMV compliant
    <ion-icon name="checkmark-circle" color="secondary"></ion-icon>
  </ion-title>

  <ion-title padding *ngIf="!QRroot">
    Unknown QR Code
  </ion-title>

  <ion-item-divider color="light">Raw data</ion-item-divider>

  <ion-list>
    <ion-item text-wrap>
      {{ scannedCode }}
    </ion-item>
    <ion-item-divider *ngIf="QRroot" color="light">EMV interpreted data</ion-item-divider>
    <ion-item *ngIf="QRroot">

      <ion-item no-padding *ngFor="let x of QRroot">
        <h2>
          {{x[1]}}
        </h2>
        <h3>
          {{x[2]}}
        </h3>

      </ion-item>
      <pre>{{QRroot | json}}</pre>

    </ion-item>
  </ion-list>
</ion-content>


<ion-footer padding>
  <button ion-button full icon-left (click)="scanCode()">
    <ion-icon name="qr-scanner"></ion-icon>Scan Code
  </button>
</ion-footer>
